{
    "workbench.iconTheme": "material-icon-theme",
    "workbench.colorTheme": "Default Dark+",
    "terminal.integrated.profiles.linux": {
      "zsh (login)": {
        "path": "zsh",
        "args": ["-l"]
      }
    },
    "terminal.integrated.fontFamily": "Menlo for Powerline",
    "editor.largeFileOptimizations": false,
    "editor.tabSize": 4,
    "editor.minimap.showSlider": "always",
    "editor.cursorBlinking": "smooth",
    "editor.fontLigatures": true,
    "editor.dragAndDrop": false,
    "files.trimTrailingWhitespace": true,
    "files.trimFinalNewlines": true,
    "telemetry.enableTelemetry": false,
    "telemetry.enableCrashReporter": false,
    "redhat.telemetry.enabled": false,
    "php.suggest.basic": true,
    "editor.quickSuggestions": {
      "other": true,
      "comments": true,
      "strings": true
    },

    "[javascript]": {
      "editor.defaultFormatter": "esbenp.prettier-vscode"
    },
    "[typescript]": {
      "editor.defaultFormatter": "esbenp.prettier-vscode"
    },
    "[json]": {
      "editor.defaultFormatter": "esbenp.prettier-vscode"
    },
    "[jsonc]": {
      "editor.defaultFormatter": "esbenp.prettier-vscode"
    },
    "[html]": {
      "editor.defaultFormatter": "esbenp.prettier-vscode"
    },
    "[python]": {
      "editor.defaultFormatter": "ms-python.python"
    },
    "[yaml]": {
        "editor.defaultFormatter": "redhat.vscode-yaml"
    },
    "shellcheck.customArgs": ["-x"],
    "python.formatting.provider": "black",
    "python.linting.flake8Enabled": true,
    "python.linting.pylintEnabled": false,
    "python.linting.mypyEnabled": true,
    "python.linting.flake8Args": ["--max-line-length=88", "-ignore=E402"],
    "python.languageServer": "Pylance",
    "autoDocstring.docstringFormat": "numpy",
    "editor.suggestOnTriggerCharacters": true,
    "editor.tabCompletion": "on",
    "editor.suggestSelection": "first",
    "jupyter.experiments.optOutFrom": ["NativeNotebookEditor"],
    "workbench.editorAssociations": {
      "*.ipynb": "jupyter.notebook.ipynb"
    },
    "yaml.customTags": ["!encrypted/pkcs1-oaep scalar", "!vault scalar"],
    "go.toolsManagement.autoUpdate": true,
    "sqltools.useNodeRuntime": true,
    "files.exclude": {
      "**/.classpath": true,
      "**/.project": true,
      "**/.settings": true,
      "**/.factorypath": true
    }
  }
